* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    align-content: top;
    height: 100vh;
}

p {
    font-size: 3em;
    font-weight: bold;
}

.stop-watch {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    align-items: center;
    gap: 0.5em;
    border: 1px solid black;
    padding: 1em;
    border-radius: 12px;
    background-color: rgb(177, 177, 177);
    margin: 0 2em;
    min-width: 180px;
    width: 200px;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.35);
}

.stop-watch h2 {
    grid-area: 1 / 1 / span 1 / -1;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.644);
}

#display {
    grid-area: 2 / 1 / span 1 / -1;
    border: 1px solid black;
    font-family: monospace;
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin: 0 0.1em;
    padding: 0.2em 0.4em;
    background-color: rgb(224, 224, 224);
}

button {
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.644);
}

#reset {
    grid-area: 4 / 1 / span 1 / span 3;
}

#laps {
    display: flex;
    align-content: center;
    flex-flow: column-reverse;
}

#laps article {
    display: flex;
    border-bottom: 1px solid rgba(136, 136, 136, 0.25);
    font-size: 0.35rem;
    margin-top: 1em;
    padding: 2em;
}

#laps article>p {
    padding: 0 0.7em;
}